body{ background-color: black;
}
.insta-header{ color: white;
}

.icons{
    display:;
    gap: 20px;
}

.icon{
 
}

.carousel-images{
    display: flex;
    width: 100px;
    height: 100px;

}

img {
    border-radius: 50%;
}